::-webkit-scrollbar {
    width: 12px; 
}
::-webkit-scrollbar-track {
    background: rgb(0, 20, 25);
}
::-webkit-scrollbar-thumb {
    background-color: #00637a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #777777; 
}

nav {
    scrollbar-width: thin;
    scrollbar-color: #555 #333;
}

nav::-webkit-scrollbar {
    width: 12px;
}
nav::-webkit-scrollbar-track {
    background: #333;
}
nav::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 3px solid #333;
}
nav::-webkit-scrollbar-thumb:hover {
    background: #777;
}